@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;700&display=swap');
/* Roboto Mono, monospace*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
/* Ubuntu, sans serif */
h1, h2, h4, p{
  margin: 0;
}

.App{
  min-height: 100vh;
}

.nav {
  text-align: center;
  background-color: #3a07a9;
  margin-bottom: .8em;
  padding: 1.3em;
}

.sort-values{
  text-align: center;
}

.sort-drop-down {
  padding: .3em;
  background-color: #544CA6;
  cursor: pointer;
  color: #ccc;
}

.link{
  display: block;
  color: #ccc;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  font-size: .8rem;
  font-weight: 700;
  border-bottom: 1px dashed #ccc;
}

.link:hover,
.link:focus{
  color: #cd7a2d;
}

.header{
  font-size: 1.5em;
  color: #ccc;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.header-link{
  text-decoration: none;
}

.header-link { text-decoration: none; }

.articles-container{
  margin: 1em auto;
  list-style: none;
  width: 80%;
  min-height: 100vh;
}

.article {
  margin: 0 auto;
  border: 1px solid #3a07a9;
  margin-bottom: 1em;
  padding: 1em 1.5em;
  margin-left: 1em;
  margin-right: 1em;
}

.article-link{
  text-decoration: none;
}

.article-title{
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
  color: #544ca6;
}

.article-topic{
  font-size: 1.4em;
  color: #cd7a2d;
}

.article-author{
  color: #444;
  font-size: .8rem;
  font-family: 'Ubuntu', sans-serif;
}

.article-body{
  color: #444;
  font-size: 1.1rem;
}

.article-created{
  background-color: #544CA6;
  align-self: center;
  padding: .35em;
  border-radius: 3px;
  color: #ccc;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: .5em;
  text-align: center;
}

.votes-btn {
  display: flex;
  font-size: 1.3rem;
  font-family: 'Ubuntu', sans-serif;
  margin-right: .8em;
}

.vote-btn{
  margin: .4em;
  padding: .3em;
  color: #ccc;
  border-radius: 100px;
  background-color: #544CA6;
  border: 0;
}

.votes-count {
  font-size: 1.3rem;
}

.article-comment-count{
  font-size: 1.2rem;
  background: #544CA6;
  display: inline-block;
  padding: .24em;
  color: #ccc;
  border-radius: 4px;
  margin-right: .6em;
}



.loading{
  text-align: center;
}

.comments {
  padding: 0;
  list-style: none;
}

.comment{
  border: 1px solid #586849;
  padding: 1em;
  margin-bottom: 1em;
}

.comment-author,
.comment-body{
  margin: 0;
  margin-bottom: .7em;
}

.comment-author{
  color: #52623b;
  text-transform: capitalize;
  font-weight: bolder;
}

.comment-body{
  color: #444;
  font-size: 1em;
  line-height: 1.5;
}

.date-created,
.comment-votes{
  color: #1f6551;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .75em;
}

.comment-votes{
  display: flex;
}





.comment-details{
  display: flex;
  justify-content: space-between;
}

.comment-link{
  font-size: 1.3rem;
  text-decoration: none;
  color: #ccc;
  background-color: #544CA6;
  padding: .55rem;
  border-radius: 3px;
}
.comment-link:hover,
.comment-link:focus{
  background-color: #cd7a2d;
  color: #ccc;
}



.delete-comment {
  font-size: .5em;
  cursor: pointer;
}

.users {
  padding: 1em 0;
  list-style: none;
}

.user {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 1px solid #1f6551;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 20px;
}

.user-avatar{
  width: 100%;
}

.user-fullname,
.username{
  margin: 0;
  font-size: 1.1em;
  text-transform: capitalize;
  color: #52623b;
  font-weight: bold;
  font-family: monospace;
  margin-bottom: .4em;
  text-align: center;
}

.login-btn{
  padding: .5em 0;
  background-color: #9b9ca1;
  border-radius: 10px;
  border: none;
  justify-self: center;
  cursor: pointer;
}

.login-btn:hover{
  background-color: #ad493c;
  color: #FFF;
}

.topics{
  padding: 0;
  list-style: none;
  display: flex;
  background: #859889;
  padding: .8em 0;
  border-radius: 5px;
  justify-content: space-around;
}

.topic{
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: monospace;
  color: #454648;
  cursor: pointer;
}

.topic:hover,
.topic:focus {
  color: #ad493c;
}

.logged-in-user {
  margin: 0;
  font-size: 1.1em;
  color: #52623b;
  font-weight: bold;
}

.comment-group {
  width: 70%;
  margin-top: 1em;
  display: flex;
}
.comment-input {
  width: 80%;
  margin-right: .5em;
  padding: 1em .2em;
  background: #dadbdd;
}

.comment-input,
.post-comment-btn {
  border: 0;
  outline: 1px solid #52623b;
  border-radius: 10px;
};
.post-comment-btn { cursor: pointer; }

.error-msg {
  color: #52623b;
  font-size: 1.2em;
  padding-top: .7em;
}

.footer {
  margin: 0;
  background: #3a07a9;
  padding: 2em;
  text-align: center;
  color: #ccc;
  font-size: 1rem;
}

